body {
  margin: 0;
}

.App {
  text-align: center;
}

.upperHeader {
  background-color: #ccc; /* Grey background */
  font-size: 1.5em; /* Bigger font */
  padding: 10px; /* Add padding for better appearance */
  width: 100%; /* Full page width */
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 200px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #282c34;
  color: white;
}

/* Additional styling to align the table to the left */
table {
  margin: 20px 0;
}

th, td {
  text-align: left;
}
